- if admin?
  %li
    = link_to(t('dashboard_extension.manage_users'), admin_users_path, :class => 'admin')
  %li
    = link_to(t('dashboard_extension.radiant_configuration'), admin_configuration_path, :class => 'admin')
