- draft_pages = admin? ? Page.drafts.latest(6) : current_user.pages.drafts.latest(6)

#draft_pages.dashboard_module
  .header
    %h2
      = t(admin? ? 'dashboard_extension.draft_pages' : 'dashboard_extension.your_draft_pages')
  .blockcontent
    = page_list_if_any(draft_pages)
