#shortcuts
  - dashboard_links = DashboardLink.all
  - dashboard_links.each do |dl|
    = dashboard_link(dl)
      
  - if dashboard_links.length < 4
    - (4 - dashboard_links.length).times do
      = empty_dashboard_link
