#user_info.dashboard_module
  .blockcontent
    %a{:href => admin_preferences_url}
      = image_tag(gravatar_url(current_user.email, :size=>"32px"), :class=>"avatar avatar_32x32", :width=>32, :height=>32, :alt=>"")
    %div.hanging
      %h1
        %a{:href => admin_preferences_url}
          = current_user.name
      %p.subhead
        = current_user.email
